<div class="modal fade" id="instructionsNewDeleteConfModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Удаление</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          Вы уверены, что хотите удалить инструкцию? Действие необратимо.<br>
          Если необходимо временно скрыть инструкцию от пользователей - просто снимите видимость со всех ролей
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          <button id="instructionsNewDeleteConfModalDeleteButton" type="button" class="btn btn-danger">Удалить</button>
      </div>
    </div>
  </div>
</div>