<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 111">
    <div id="toastInfo" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto" id="toastInfoTitle"></strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="toastInfoBody"></div>
    </div>
</div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 111">
    <div id="toastSuccess" class="toast bg-success" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto" id="toastSuccessTitle"></strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="toastSuccessBody"></div>
    </div>
</div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 111">
    <div id="toastError" class="toast bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto" id="toastErrorTitle"></strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="toastErrorBody"></div>
    </div>
</div>